
input::placeholder,textarea::placeholder{
    color: white;
}

input{
    color: white;
}

input[type=text], input[type=email], input[type=number],.msg{
    color: black;
}

.contact_form{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contact_form_email{
    width: 700px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.contact_submit_button{
    background-color: lawngreen;
    color: black;
    font-size: 16px;
    margin: 0px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}